* {
    font-family: Raleway;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
    background-color: #FFFFFF;
}

.logo {
    height: 19px;
    margin-top: 44px;
    margin-left: 5px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
}

.lien_navbar {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding-top: 48px;
    text-decoration: none;
    width: 162px;
}

.lien_navbar:hover {
    padding-top: 46px;
    border-top: #0065FC 2px solid;
    color: #0065FC
}

.searchbar_filtre {
    margin-top: 63px;
    margin-left: 5px;
}

h1 {
    font-size: 22px;
}

.centre_ville {
    margin: 8px 0 20px 0;
}

h4 {
    font-size: 16px;
}

.search {
    display: flex;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
}

.localisation,
.bouton_search {
    border: none;
    outline: none;
}

.localisation {
    font-weight: 700;
    font-size: 18px;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0px 0px 0px 17px;
}

.bouton_search {
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    width: 132px;
    height: 49px;
    font-size: 18px;
    padding: 0px;
}

.recherche {
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loupe {
    display: none;
}

.group_filter {
    display: flex;
    font-size: 17px;
    width: 100%;
    margin: 32px 43px 0px 7px;
    align-items: center;
    font-weight: 700;
}

.title_filter {
    margin-right: 23px;
}

.group_button_filter {
    display: flex;
    flex-direction: row;
}

.group_filter a {
    color: #000000;
    text-decoration: none;
}

.group_filter i {
    color: #0065FC;
}

.button_filter {
    border: #D9D9D9 2px solid;
    border-radius: 30px;
    padding: 14px 20px 14px 20px;
    list-style: none;
    margin-right: 43px;
}

.button_filter:last-child {
    margin-right: 0;
}

.button_filter:hover {
    background-color: #DEEBFF;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 4px;
    font-size: 16px;
    color: #0065FC;
    border: #D9D9D9 1px solid;
    border-radius: 40px;
    width: 24px;
    height: 24px;
}

.information {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.hebergement_most_popular {
    display: flex;
    margin-top: 39px;
}

.card_hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 880px;
    padding: 42px 40px 46px 40px
}

.title_hebergements {
    font-size: 22px;
}

.group_card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    justify-content: space-between;
}

.little_card {
    width: 30.75%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.img_hebergements {
    display: flex;
    width: 100%;
    height: 115px;
    border: #FFFFFF 5px solid;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}

.name_of_location {
    font-size: 16px;
    font-weight: 900;
}

.price_location {
    font-size: 14px;
}

.info_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 8px 0px 0px 16px;
}

.stars {
    display: flex;
    margin: 9px 1px 11px 0px;
}

.fa_star {
    font-size: 12px;
}

.blue_star {
    color: #0065FC;
    font-size: 12px;
}

.stars_no_color {
    color: #F2F2F2;
    font-size: 12px;
}

.lien_no_color {
    text-decoration: none;
    color: #000;
}

.more_card {
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-weight: 700;
    margin-top: 10px;
}

.card_most_popular {
    display: flex;
    width: 420px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
    padding: 0 37px;
    flex-direction: column;
}

.title_and_icon {
    display: flex;
    align-items: center;
    margin: 41px 0 26px 0;
    justify-content: space-between;
}

.title_and_icon h2 {
    margin: 0;
}

.title_and_icon i {
    display: flex;
    justify-content: space-around;
    width: 18px;
    height: 15.75px;
    color: #0065FC;
}

.info_card_popular {
    width: 169px;
    height: 144px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 16px 12px;
}

.lien_no_color_2 {
    display: flex;
    text-decoration: none;
    color: #000;
    height: 144px;
    width: 343px;
}

.little_card_popular {
    display: flex;
    width: 343px;
    height: 144px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-bottom: 33px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.img_most_popular {
    display: flex;
    object-fit: cover;
    width: 137px;
    border-radius: 20px 0px 0px 20px;
    border: #FFFFFF 5px solid;
}

.text_card_popular {
    display: flex;
    flex-direction: column;
}

.name_of_location_popular {
    font-size: 16px;
    font-weight: 900;
    width: 169px;
}

.price_location_popular {
    font-size: 14px;
}

.stars_popular {
    display: flex;
}

.title_activites {
    display: flex;
    margin: 60px 0 18px 0;
}

.group_card_activites {
    display: flex;
    flex-direction: row;
}

.card_activites {
    width: 100%;
    margin-right: 43px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card_activites:last-child {
    margin-right: 0;
}

.img_card_activites {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 389px;
    margin-bottom: 20px;
    border-radius: 20px 20px 0px 0px;
}

.names_activites {
    font-size: 16px;
    margin: 0px 0px 21px 19px;
}

.card_footer {
    display: flex;
    width: 100%;
    height: 225px;
    background-color: #F2F2F2;
    margin-top: 61px;
    justify-content: space-between;
    padding-inline: 70px;
    padding-top: 45px;
}

.text_footer {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.liste_puce {

    list-style-type: none;
}

.text_propos {
    font-size: 16px;
    margin-bottom: 12px;
}

/* tablette */
@media only screen and (max-width: 991px) {
    body {
        max-width: 880px;
    }

    header {
        width: 100%;
    }

    .searchbar_filtres {
        width: 100%;
    }

    .search {
        margin-left: 2px;
    }

    .group_filter {
        margin-left: 0;
    }

    .title_filter {
        margin-right: 17px;
    }

    .group_button_filter {
        justify-content: space-between;
        width: 100%;
    }

    .button_filter {
        margin-right: 0;
    }

    .information {
        margin-top: 23px;
    }

    .card_hebergements {
        width: 100%;
    }

    .hebergement_most_popular {
        flex-direction: column;
    }

    .card_most_popular {
        margin-top: 53px;
        display: flex;
        width: 100%;
        margin-left: 0;
    }

    .group_card_popular {
        display: flex;
        justify-content: space-between;
    }

    .little_card_popular {
        width: 31.4%;
    }

    .little_card_popular:last-child {
        margin-right: 0;
    }

    .img_most_popular {
        width: 106px;
    }

    .info_card_popular {
        width: auto;
        margin-left: 10px;
    }

    .text_card_popular {
        display: flex;
        flex-wrap: wrap;
    }

    .name_of_location_popular {
        font-size: 14px;
        width: 100px;
        margin-bottom: 7px;
    }

    .price_location_popular {
        font-size: 13px;
    }

    .title_activites {
        margin: 70px 0 34px 8px;

    }

    .card_activites {
        width: 50%;
        height: 267px;
        margin-right: 6.512%;
    }

    .card_activites:last-child {
        margin-right: 0;
    }

    .img_card_activites {
        width: 100%;
        height: 211px;
        margin-bottom: 0;
        display: block;
    }

    .names_activites {
        display: flex;
        height: 56px;
        align-items: center;
        margin: 0 18px 0 19px;
    }

    .card_footer {
        margin-top: 69px;
        justify-content: space-between;
    }
}


/* mobile */
@media only screen and (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-left: 0;
    }

    nav {
        display: flex;
        width: 100%;
    }

    .lien_navbar {
        padding-bottom: 23px;
        width: 50%;
        border-bottom: #F2F2F2 3px solid;
        padding-bottom: 20px;
    }

    .lien_navbar:hover {
        border-bottom: #0065FC 3px solid;
        padding-bottom: 20px;
        padding-top: 48px;
        border-top: none;
        display: flex;
        justify-content: center;
    }

    .searchbar_filtre {
        margin-top: 0;
        margin-inline: 20px;
    }

    .searchbar_filtre h1 {
        margin-top: 31px;
    }

    .searchbar_filtre p {
        margin-top: 13px;
    }

    .search {
        margin-inline: 2px;
    }

    .fa-location-dot {
        padding-inline: 18px;
    }

    .localisation {
        width: 100%;
    }

    .bouton_search {
        width: 49px;
        height: 49px;
    }

    #recherche {
        display: none;
    }

    #loupe {
        display: initial;
        padding: 16px;
    }

    .group_filter {
        width: 100%;
        margin: 32px 0 0 0;
        flex-direction: column;
        align-items: flex-start
    }
    .group_filter a {
        display: flex;
        align-items: center;
    }
    .title_filter {
        display: flex;
        margin-bottom: 15px;
    }

    .group_button_filter {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .button_filter {
        font-size: 11px;
        width: 160px;
        width: 49%;
        margin-bottom: 17px;
        padding-inline: 13px 12px;
    }
    .fa-money-bill-wave {
        font-size: 20px;
        margin-right: 5px;
    }
    .fa-child {
        font-size: 20px;
        margin-right: 5px;
    }
    .fa-heart {
        font-size: 20px;
        margin-right: 5px;
    }
    .fa-dog {
        font-size: 20px;
        margin-right: 5px;
    }
    .information {
        margin-top: 0;
    }

    .information p {
        margin-top: 0;
        margin-top: 25px;
    }

    .fa-info {
        margin: 0;
    }

    .fa-info {
        padding: 6px 10px;
        margin-right: 11px;
        margin-top: 23px;
    }
    .hebergement_most_popular {
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .card_most_popular {
        border-radius: 0;
        margin-top: 17px;
        padding-inline: 20px;
    }
    .group_card_popular {
        flex-direction: column;
    }
    .little_card_popular {
        width: 100%;
    }
    .lien_no_color_2 {
        width: 100%;
    }
    .img_most_popular {
        width: 85.8%;
    }
    .info_card_popular {
        width: 100%;
    }
    .name_of_location_popular {
        width: 100%
    }
    .card_footer {
        flex-direction: column;
    }
    .card_hebergements {
        padding-bottom: 0;
        padding-inline: 20px;
        width: 100%;
        background-color: #FFFFFF;
    }
    .group_card {
        flex-direction: column;
    }
    .little_card {
        margin-bottom: 12px;
        width: 100%;
        height: 199px;
    }
    .little_card:last-child {
        margin-bottom: 0;
    }
    .more_card {
        visibility: hidden;
    }
    .title_activites {
        margin-top: 80px;
        width: 50%;
        margin-left: 22px;
    }
    .group_card_activites {
        flex-direction: column;
        width: 100%;
        padding-inline: 20px;
    }
    .card_activites {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        height: 190px;
    }
    .card_activites:last-child {
        margin-bottom: 0;
    }
    .img_card_activites {
        height: 134px;
    }
    .card_footer {
        height: 100%;
        padding-left: 30px;
        margin-top: 80px;
    }
    .info_footer {
        padding-bottom: 45px;
    }
}