*{
    font-family: Raleway;
}
.logo {
    width: 91px;
    height: 29px;
    padding: 30px;
}
header{
    display: flex;
    justify-content: space-between;
}
nav { 
    display: flex;
}

body {
    margin: 0 50px 0 50px;
}
.hebergements {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding: 30px;
    text-decoration: none;
}
.hebergements:hover{
    border-top: #0065FC 2px solid;
    color:#0065FC
}

.activites {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding: 30px;
    text-decoration: none;
}

.activites:hover{
    border-top: #0065FC 2px solid;
    color:#0065FC
}
h1 {
    font-weight: 700;
    font-size: 22px;
}
h4 {
    font-weight: 400;
    font-size: 16px;
}
.search {
    display: flex; 
    border:#D9D9D9 1px solid;
    width: 300px;
    height: 43px;
    border-radius: 17px 17px 17px 17px;  
}
.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #D9D9D9;
    width: 10%;
    height: 30px;
    padding: 7px;
}
.localisation, .bouton {
    border: none;
    outline: none;
}
.localisation {
    font-weight: bold;
    width: 45%;
    padding-left: 10px;
}
.bouton {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: bold;
    width: 45%;
    position: relative;
    height: 44px;
}