* {
    font-family: Raleway;
}

body {
    width: 1400px;
    margin: auto;
}

.logo {
    padding-top: 25px;
    width: 79px;
    height: 25px;
    align-items: center;
}

header {
    padding-inline: 55px;
    display: flex;
    justify-content: space-between;
}

main {
    padding-inline: 55px;
}

nav {
    padding-inline: 5%;
    display: flex;
}

.searchbar_filtre {
    margin-top: 63px;
}


.hebergements {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding: 30px;
    text-decoration: none;
}

.hebergements:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC
}

.activites {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding: 30px;
    text-decoration: none;
}

.activites:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC
}

h1 {
    font-weight: 900;
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

.search {
    display: flex;
    width: 400px;
    height: 44px;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    width: 26px;
    height: 25px;
    padding: 7px;
}

.localisation,
.bouton {
    border: none;
    outline: none;
}

.localisation {
    font-weight: bold;
    width: 190px;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding-left: 8px;
    height: 35px;
    align-items: center;

}

.bouton {
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    width: 90px;
    height: 38.9px;
}

.filtres {
    display: flex;
    font-size: 17px;
    width: 750px;
    height: 50px;
    margin: 40px 5px 0px 0px;
    color: #000000;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

}

.filtres a {
    color: #000000;
    text-decoration: none;
}

.filtres i {
    color: #0065FC;
}
.bouton_filtre {
    border: #F2F2F2 2px solid;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}